[build]
  base = "epet36_astro"
  command = "npm run build"
  publish = "epet36_astro/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
