---
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>EPET N°36 - Educación Técnica de Excelencia | Itaembé Miní, Posadas</title>
		<meta name="description" content="Formamos líderes técnicos con valores humanos. Preinscripciones 2026 abiertas. Educación técnica de excelencia en Posadas, Misiones." />
	</head>
	<body>
		<Navigation />
		<Hero />
	</body>
</html>
